<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hashbull.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Hashbull.My.MySettings>
            <setting name="Hashcat" serializeAs="String">
                <value>\Packages\HC\</value>
            </setting>
            <setting name="JTR" serializeAs="String">
                <value>\Packages\JtR\run\</value>
            </setting>
            <setting name="PP2" serializeAs="String">
                <value>\Packages\Py2\App\Python\PP2.exe</value>
            </setting>
            <setting name="PP3" serializeAs="String">
                <value>\Packages\Py3\App\Python\PP3.exe</value>
            </setting>
            <setting name="Perl" serializeAs="String">
                <value>\Packages\Perl\perl\bin\perl_hashbull.exe</value>
            </setting>
            <setting name="Bulk" serializeAs="String">
                <value>\Packages\BuEx\bulk_extractor64.exe</value>
            </setting>
            <setting name="GPUonly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinControll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Force" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Workload" serializeAs="String">
                <value>3 - Speed</value>
            </setting>
            <setting name="Celsius" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="OtherPara" serializeAs="String">
                <value>-O </value>
            </setting>
            <setting name="CheckPot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckHelp6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckHelp7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerS" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="fav" serializeAs="String">
                <value />
            </setting>
            <setting name="DevOnly" serializeAs="String">
                <value />
            </setting>
            <setting name="Eng" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value>_Encoding_OFF</value>
            </setting>
            <setting name="CheckHelp1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mail" serializeAs="String">
                <value />
            </setting>
            <setting name="MailAct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Scanner1" serializeAs="String">
                <value>blockchain.com</value>
            </setting>
            <setting name="Scanner2" serializeAs="String">
                <value>binance.com</value>
            </setting>
            <setting name="Scanner3" serializeAs="String">
                <value>bitwala.com</value>
            </setting>
            <setting name="Scanner4" serializeAs="String">
                <value>kraken.com</value>
            </setting>
            <setting name="Scanner5" serializeAs="String">
                <value>getmonero.org</value>
            </setting>
            <setting name="Scanner6" serializeAs="String">
                <value>coinbase.com</value>
            </setting>
            <setting name="Scanner7" serializeAs="String">
                <value>bitpanda.com</value>
            </setting>
            <setting name="Scanner8" serializeAs="String">
                <value>myetherwallet.com</value>
            </setting>
            <setting name="Scanner9" serializeAs="String">
                <value>ledger.com</value>
            </setting>
            <setting name="Scanner10" serializeAs="String">
                <value>Trezor</value>
            </setting>
            <setting name="Scanner11" serializeAs="String">
                <value>trezor.io</value>
            </setting>
            <setting name="Scanner12" serializeAs="String">
                <value>shapeshift.com</value>
            </setting>
            <setting name="Scanner13" serializeAs="String">
                <value>KeepKey</value>
            </setting>
            <setting name="Scanner14" serializeAs="String">
                <value />
            </setting>
            <setting name="Scanner15" serializeAs="String">
                <value />
            </setting>
            <setting name="Scanner16" serializeAs="String">
                <value />
            </setting>
            <setting name="Scanner17" serializeAs="String">
                <value>*bitcoin*.exe</value>
            </setting>
            <setting name="Scanner18" serializeAs="String">
                <value>wallet.dat</value>
            </setting>
            <setting name="Scanner19" serializeAs="String">
                <value>*.wallet</value>
            </setting>
            <setting name="Scanner20" serializeAs="String">
                <value>*electrum*.exe</value>
            </setting>
            <setting name="Scanner21" serializeAs="String">
                <value>*ethereum*.exe</value>
            </setting>
            <setting name="Scanner22" serializeAs="String">
                <value>*monero*.exe</value>
            </setting>
            <setting name="Scanner23" serializeAs="String">
                <value>*exodus*.exe</value>
            </setting>
            <setting name="Scanner24" serializeAs="String">
                <value>*ledger*.*</value>
            </setting>
            <setting name="EFSDrives" serializeAs="String">
                <value>C D E F G H I J K L M N O P Q R S T U V W X Y Z</value>
            </setting>
            <setting name="EFS7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFS2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFS3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFS4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFS5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EFS6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Checklog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientPW" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientFeat" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPW" serializeAs="String">
                <value />
            </setting>
            <setting name="BrainCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </Hashbull.My.MySettings>
    </userSettings>
</configuration>